{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>The Social Networks</h1>
    <p>A social network is defined as a chain of individuals and their personal connections. Expanding one’s connections with other people is a technique that can be used both for personal or business reasons. Social networking applications make use of the associations between individuals to further facilitate the creation of new connections with other people. This could be used to meet new friends and connect with old ones, as many people do on Facebook, or to expand one’s professional connections through a business network like LinkedIn.</p>
  </div>
</div>


<div class="container">

    <table class="table">
        <th class=text-center>Name</th>
        <th class=text-center>Logo</th>
        <th class=text-center>Purpose</th>
        <th class=text-center>Availability</th>
        <th class=text-center>Launched Date</th>
        <tr>
            <td>Facebook</td>
            <td><img src="images/fb.png" alt="" border=3 height=30 width=30></img></td>
            <td><i>to make the world more open and connected</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>February 4, 2004</td>
        </tr>

        <tr>
            <td>Instagram</td>
            <td><img src="images/insta.jpeg" alt="" border=3 height=30 width=30></img></td>
            <td><i>social networking app specially made for sharing photos and videos</i></td>
            <td>Smartphones, Tablets</td>
            <td>October 6, 2010</td>
        </tr>

        <tr>
            <td>LinkedIn</td>
            <td><img src="images/linkedin.png" alt="" border=3 height="30" width="30"></img></td>
            <td><i>to help people network professionally</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>May 5, 2003</td>
        </tr>

        <tr>
            <td>Twitter</td>
            <td><img src="images/twit.png" alt="" border="3" height=30 width=40></td>
            <td><i>a microblogging platform, which allows registered users to post, and send to other registered users, short messages</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>July 15, 2006</td>
        </tr>

        <tr>
            <td>Snapchat</td>
            <td><img src="images/snap.png" alt="" border="3" height=30 width=30</td>
            <td><i>mobile messaging app used to share photos, videos, text, and drawings</i></td>
            <td>Smartphones, Tablets</td>
            <td>October 29, 2012</td>
        </tr>
    </table>
</div>
    <div class="container">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>If you are following the guide, then please head back to the tutorial and follow the next steps!</li>
        <li>If you deployed this app by deploying the Heroku Button, then in a command line shell, run:</li>
        <ul>
          <li><code>git clone https://github.com/heroku/php-getting-started.git</code> - this will create a local copy of the source code for the app</li>
          <li><code>cd php-getting-started</code> - change directory into the local source code repository</li>
          <li><code>heroku git:remote -a &lt;your-app-name></code> - associate the Heroku app with the repository</li>
          <li>You'll now be set up to run the app locally, or <a href="https://devcenter.heroku.com/articles/getting-started-with-php#push-local-changes">deploy changes</a> to Heroku</li>
        </ul>
      </ul>

    </div>
  </div> <!-- row -->

</div>

{% endblock %}
