{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>The Social Networks</h1>
    <p>A social network is defined as a chain of individuals and their personal connections. Expanding one’s connections with other people is a technique that can be used both for personal or business reasons. Social networking applications make use of the associations between individuals to further facilitate the creation of new connections with other people. This could be used to meet new friends and connect with old ones, as many people do on Facebook, or to expand one’s professional connections through a business network like LinkedIn.</p>
  </div>
</div>


<div class="container">

    <table class="table table-bordered">
        <thead class="thead-dark">
        <th class=text-center>Name</th>
        <th class=text-center>Logo</th>
        <th class=text-center>Purpose</th>
        <th class=text-center>Availability</th>
        <th class=text-center>Launched Date</th>
        </thead>
        <tr>
            <td>Facebook</td>
            <td><img src="images/fb.png" alt="" border=3 height=30 width=30></img></td>
            <td><i>to make the world more open and connected</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>February 4, 2004</td>
        </tr>

        <tr>
            <td>Instagram</td>
            <td><img src="images/insta.jpeg" alt="" border=3 height=30 width=30></img></td>
            <td><i>social networking app specially made for sharing photos and videos</i></td>
            <td>Smartphones, Tablets</td>
            <td>October 6, 2010</td>
        </tr>

        <tr>
            <td>LinkedIn</td>
            <td><img src="images/linkedin.png" alt="" border=3 height="30" width="30"></img></td>
            <td><i>to help people network professionally</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>May 5, 2003</td>
        </tr>

        <tr>
            <td>Twitter</td>
            <td><img src="images/twit.png" alt="" border="3" height=30 width=40></td>
            <td><i>a microblogging platform, which allows registered users to post, and send to other registered users, short messages</i></td>
            <td>Smartphones, Tablets, PC</td>
            <td>July 15, 2006</td>
        </tr>

        <tr>
            <td>Snapchat</td>
            <td><img src="images/snap.png" alt="" border="3" height=30 width=30</td>
            <td><i>mobile messaging app used to share photos, videos, text, and drawings</i></td>
            <td>Smartphones, Tablets</td>
            <td>October 29, 2012</td>
        </tr>
    </table>
</div>
    <div class="container">
      <h3><span class="glyphicon glyphicon-link"></span>Advantages</h3>
      <ol>
          <li><h5><b>Worldwide Connectivity</b></h5></li>
          <p>With each of these sites, individuals can make new friends, build business connections or simply extend their personal base by connecting and interacting with friends of friends - which can have a multiplying effect.</p>
          <li><h5><b>Social Proof</b></h5></li>
          <p>Referrals are usually the strongest prospects a business can gain. When you are in social network groups, it becomes easy for your customers to share your business information or invite people to like your page. You are also able to get customers to rate your business and leave a review. As people see this, your social proof credibility goes up.</p>
          <li><h5><b>Sales Leads</b></h5></li>
          <p>he goal of marketing is to drive sales to the company. You can use social networks to help in this capacity as well. Not only can you get the niche segments, but you can advertise directly to those segments using Facebook, Instagram or Twitter ads. When your target market is the one seeing your advertising, you are more likely to get new customers.</p>
      </ol>

    </div>
   <!-- row -->


{% endblock %}
